.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border: 5px solid #000;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    font-size: 40px;
    background: #DBA9A9;
    width: 98px;
    height: 70px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid #000;
    background-color: #BF6666;
    padding: 23px;
    display: inline-block;
    
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}